#milestones > ul {
    background-color: transparent;
}

#milestones > ul > li > span {
    /* background-color: #aaa; */
}

#milestones > ul > li > span:first-child::after {
    /* border: 1px solid red; */
    display: inline;
    content: ": ";
}

.collapsible {
    background-color: transparent;
    color: var(--ceg-lb);
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    transition: 1s;
    border-bottom: 1px lightgray solid;
    cursor: pointer;
}

.collapsible:hover, .active {
    background-color: rgba(var(--ceg-db-R),var(--ceg-db-G),var(--ceg-db-B),0.8);
    color: white;
    transition: 0.5s ease-in;
}

.content {
    padding: 20px;
    display: none;
    background-color: rgba(var(--ceg-lb-R),var(--ceg-lb-G),var(--ceg-lb-B),0.08);
}

.content h6 {
    margin-bottom: 0;
}

.content p {
    margin-top: 0.25em;
}
