#milestones > ul {
    background-color: #fff;
}

#milestones > ul > li > span {
    /* background-color: #aaa; */
}

#milestones > ul > li > span:first-child::after {
    /* border: 1px solid red; */
    display: inline;
    content: ": ";
}

.collapsible {
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
    font-size: 16px;
}

.collapsible:hover {
    background-color: darkgrey;
    transition: 0.25s ease-in;
}

.content {
    padding: 20px;
    display: none;
    background-color: aliceblue;
}
