#milestones > ul {
    background-color: #fff;
}

#milestones > ul > li > span {
    /* background-color: #aaa; */
}

#milestones > ul > li > span:first-child::after {
    /* border: 1px solid red; */
    display: inline;
    content: ": ";
}

#our-team > .card-wrapper {
    flex-wrap: wrap;
}

#our-team > .card-wrapper > .card {
    width: 33%;

    padding: 0;
    overflow: hidden;
}

.card-pic {

}

.card-text {
    text-align: center;
    margin-bottom: 1em;
}
