
.card-wrapper {
    display: flex;
    flex-flow: row wrap;
}

@media only screen and (max-width:600px) {
    .card-wrapper {
        flex-direction: column;
    }
}

.card-wrapper .card {
    flex: 1;
    text-align: left;
}

img {
    max-width: 100%;
}

.read-more {
    /* content: "Read More →"; */
    display: inline-block;
    size: 10em 1em;
}

/* ------- test -------- */
/* Alternative approach to hstrip */
/* This element must be placed inside of main */
/* .test {
    color: white;
    font-size: 3em;
    padding: 2em var(--side-padding);
    width: calc(100% + 2 * var(--side-padding));
    transform: translateX(calc( -1 * var(--side-padding)));
    background-image: linear-gradient(to left bottom, var(--ceg-y), var(--ceg-r));
} */
