
/* ------- test -------- */
/* Alternative approach to hstrip */
/* This element must be placed inside of main */
.test {
    color: white;
    font-size: 3em;
    padding: 2em var(--side-padding);
    width: calc(100% + 2 * var(--side-padding));
    transform: translateX(calc( -1 * var(--side-padding)));
    background-image: linear-gradient(to left bottom, var(--ceg-y), var(--ceg-r));
}

/* ------ wrapper ----- */

.wrapper {
    display: flex;
}

.wrapper .card {
    /* display: block; */
    flex: 1;
    color: white;
    text-align: left;
    background-image: url('../assets/photo1.png');
    /* background-attachment: fixed; */
    /* background-blend-mode: luminosity; */
    background-size: 120%;
}

.wrapper .card > a.link {
    color: white;
}

.wrapper .card h4, .wrapper .card p {
    filter: drop-shadow(.1em .1em .2em black);
}

.wrapper .card h4 {
    margin: 1em 0;
    font-weight: 100;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    /* letter-spacing: .1em; */
}

/* Customized heading format */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 1em 0;
}

h1 { font-size: 3.0em; } /* Title of the page */
h2 { font-size: 2.5em; } /* Title of a main section */
h3 { font-size: 2.2em; } /* Subsection title within a section */
h4 { font-size: 1.9em; } /* Sub-subsection titles */
h5 { font-size: 1.6em; } /* title for cards */
h6 { font-size: 1.3em; } /* subtitle for cards */
