body {
    background-color: var(--ceg-db);
}

nav {
    /* --nav-text-color: gray !important; */
    --nav-video-overshot: 3rem;
    --nav-video-height: 100vh;
    position: relative;
    z-index: 200;
}

@media only screen and (max-width:600px) {
    nav {
        --nav-video-overshot: 0;
        --nav-video-height: 0;
    }

    nav > ol {
        background-image: linear-gradient(to bottom, var(--ceg-lb), var(--ceg-db));
    }

    .video-video {
        width: 100%;
        height: 100%;
    }

    .video-text {
        display: none;
    }
}

.video {
    overflow: hidden;
    display: flex;
    justify-content: center;

    min-width: 100%;
    /* height: calc(var(--nav-video-height) + var(--nav-video-overshot)); */
    transform: translateY(calc( -1 * (var(--nav-ol-height) + var(--nav-video-overshot))));


    position: relative; /* for children */
}

.video-video {

    min-height: calc(var(--nav-video-height) + var(--nav-video-overshot));
    /* min-width: 100%; */
}

.video-text {
    font-weight: normal;
    font-size: 1.5rem;
    /* Reset default ends */
    line-height: 2rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(200, 200, 200, .8);
    position: absolute;
    bottom: 5vh;
}

.image-container img {
    max-width: 300px;
    max-height: 150px;
    border-radius: 5px;
}


main {
    position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
    filter:
        progid: DXImageTransform.Microsoft.gradient(
            startColorstr='#191d1e',
            endColorstr='#283139',
            GradientType=1 );
    background-attachment: fixed;
}

section{
    margin: 0;
}

h2{
    color: #eee;
}
