nav {
    /* --nav-text-color: gray !important; */
    --nav-video-overshot: 3rem;
}

.video {
    display: block;
    /* height: 100vh; */
    border: .1em solid red;
    min-width: 100%;
    height: calc(100vh + var(--nav-video-overshot));
    transform: translateY(calc( -1 * (var(--nav-ol-height) + var(--nav-video-overshot))));
    overflow: hidden;
    display: flex;
    /* justify-content: center; */
    justify-content: center;

    position: relative; /* for children */
}

.video-video {

}

.video-text {
    font-weight: normal;
    font-size: 1.5rem;
    /* Reset default ends */
    line-height: 2rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(200, 200, 200, .8);
    position: absolute;
    bottom: 2vh;
}