/* -------- nav --------- */

nav {
    --nav-ol-height: 3.2rem;
    --nav-strip-overshot: 3rem;
}

nav.light {
    --nav-text-color: var(--ceg-db);
    --nav-border-color: var(--ceg-db);
    --nav-logo-shadow-color: var(--ceg-db);
}

nav.dark {
    --nav-text-color: white;
    --nav-border-color: white;
    --nav-logo-shadow-color: white;
}

nav.simple {
    --nav-bg-color: white;
}
nav.compound {
    --nav-bg-color: none;
    margin-bottom: calc( -1 * (var(--nav-ol-height) + var(--nav-strip-overshot)));
}

nav > ol {
    list-style-type: none;
    margin: 0;
    /* Resetting defaults ends */
    padding: 0.2em var(--side-padding);
    min-height: var(--nav-ol-height);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    z-index: 1;

    background-color: var(--nav-bg-color);
}

nav > ol > li {
    display: block;
    /* Resetting defaults ends */
    height: calc(100% - 0.2em * 2);
    flex: 1;
    margin: 0.5em 0.2em;
    text-align: center;
    position: relative;

    color: var(--nav-text-color);
}

nav > ol > li > a {
    text-decoration: none;
    color: inherit;
    /* Resetting defaults ends */
    font-weight: 500;

    display: block; /* The link is the only element, make it fill the whole box */
    width: 100%;
    height: 100%;
    padding: .5em 10px;
    text-align: center;
}

/* ----- link Animation ------- */

nav > ol > li {
    /* Setting up variables for animation */
    --width: 80%;      /* How wide the line is */
}

nav > ol > li:not(:first-child)::before {
    content: "";
    display: block;
    width: 0%; height: 100%;
    top: 0; left: 50%;
    position: absolute;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: -1;
    border-bottom: .2em solid var(--nav-border-color);
}

nav > ol > li:not(:first-child):hover::before,
nav > ol > li.on-this-page:not(:first-child)::before {
    left: calc((100% - var(--width)) / 2);
    width: var(--width);
}


/* ------- Formatting Logo ------ */

nav > ol > li:nth-child(1) > a {
    padding: 0;
}

#nav-logo {
    height: var(--nav-ol-height);
    filter: drop-shadow(0 0 0 white);
    transition: filter .5s;
}

#nav-logo:hover {
    filter: drop-shadow(0 0 .5em var(--nav-logo-shadow-color));
}

nav > .strip {
    background-image: linear-gradient(to bottom, var(--ceg-lb), #174f87, var(--ceg-db));
    width: 100%;
}

nav > .merged {
    padding-top: calc(2em + var(--nav-ol-height) + var(--nav-strip-overshot));
    transform: translateY(calc( -1 * (var(--nav-ol-height) + var(--nav-strip-overshot))));
    z-index: 0;
}

nav > div > h1 {
    color: white;
    padding: 2em var(--side-padding);
    margin: 0;
}
