/* body * {
  border:1px solid red;
  background-color: rgba(255,0,0,0.1);
} */

main {
    padding: 2em 0;
}

h2 {
    padding: 0 var(--side-padding);
}

h3 {
    width: 100%;
    margin-top: 2em;
    margin-bottom: .5em;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.project-wrapper {
    padding: 0 var(--side-padding);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100vh;
    --text-color: #3C4043;
    justify-content: space-around;
}

.has-scroll-bar{
    height: 150vh;
}

.project-wrapper:nth-child(even) {
    background-color: var(--ceg-lb);
    --text-color: #eee;
}

.project-wrapper:nth-child(even) * {
    color: var(--text-color);
}

.inside-wrap .project-img{
    width: 38%;
    box-shadow:  0 0 5px rgba(0,0,0,1);
}

.project-wrapper .project-intro {
    width: 58%;
    color: var(--text-color);
    font-size: 18px;
    line-height: 150%;
    max-height: 70vh;
    overflow-y: auto;
}

.inside-wrap{
    display: flex;
    flex:1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.scroll-bar{
    margin-bottom: 2em;
    height: 40vh;
    display: flex;
    width: 100%;
}

.scroll-bar > img {
    height: 20vh;
    margin-right: 20px;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    opacity:0.3;
}

.scroll-bar > img:hover{
    z-index:10;
    transform: scale(1.5);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    opacity:1;
}

element::-webkit-scrollbar {display: none;}

@media  only screen and (max-width: 600px){
    .project-wrapper{
        height: 150vh;
    }

    .scroll-bar{
        display: none;
    }

    .project-wrapper .project-img{
        width: 60%;
    }

    .inside-wrap{
        flex-direction: column;
    }
}
